header {
  margin-left: 35px;
}

.header-shadow {
  box-shadow: 0px 3px 5px rgb(158, 158, 158);
}

.search-form input {
  border: 1px solid #cfcfcf;
  border-radius: 5px 0 0 5px;
  height: 40px;
  width: 150px;
  transition: 1s all;
}

.search-form button {
  border: none;
  border-radius: 0 5px 5px 0;
  width: 50px;
  background-color: #343a40;
  color: #fff;
}

.search-form input:focus {
  border: 2px solid cornflowerblue;
  width: 250px;
  outline: none;
}
