main {
  background-color: #eee;
  padding: 0px 25px 50px 30px;
}

main h1 {
  margin: 0 25px 0 10px;
}

.card-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  border-left: 4px solid #9ad5ed;
  border-radius: 5px;
  max-width: 425px;
  height: 100px;
  background-color: #fff;
  box-shadow: 2px 2px 5px rgb(158, 158, 158);
}

.card-box:nth-child(2) {
  border-left: 4px solid #9ddfa9;
}

.card-box:nth-child(3) {
  border-left: 4px solid #8e64de;
}

.card-box:last-child {
  border-left: 4px solid #fada93;
}

.card-text h4 {
  margin-bottom: 15px;
}

.card-text strong {
  font-size: 20px;
}

.card-icons i {
  font-size: 40px;
  color: #808080;
}
