* {
  box-sizing: border-box;
  margin: 0;
}

// .side-bar
a {
  text-decoration: none;
}
a:visited {
  color: #fff;
}

.side-bar {
  width: 50px;
  height: 100vh;
  background-color: #494cb4;
  color: #fff;
  transition: 1s all;
}

.side-bar i {
  padding: 10px;
  margin-left: 5px;
}

.side-bar span {
  display: block;
  transform: translateX(-150px) translateY(-20px);
}

.side-bar:hover {
  width: 200px;
}

.side-bar:hover span {
  animation: slide 1s forwards;
}

@keyframes slide {
  0% {
    transform: translateX(-250px) translateY(-20px);
  }
  100% {
    transform: translateX(50px) translateY(-20px);
  }
}
