.guide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 30px;
  height: 25vw;
  background-color: #4e61c0;
}

.icon-container {
  display: flex;
}

.element__icons i {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  background-color: #fff;
}

.i-color {
  color: #4e61c0;
}
