.main-background {
  background: linear-gradient(#4a92d9, #4d6ac5);
  height: 550px;
  display: flex;
  justify-content: space-around;
}

.main-background__container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  padding: 50px;
}

.main-text {
  padding: 80px 25px;
}

.main-text h1 {
  font-size: 35px;
  margin-bottom: 20px;
}

.smart-phone {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 400px;
}
