.alert-box {
  display: none;
  margin-bottom: 10px;
  padding: 20px;
  border-radius: 5px;
  width: 300px;
  background-color: #cee1fe;
  color: #3e5ba2;
}

.box__bg {
  display: flex;
  justify-content: space-between;
}

.btn {
  border: none;
  border-radius: 5px;
  width: 75px;
  height: 30px;
  background-color: #213862;
  color: #ffffff;
}

.btn:active {
  background-color: #1c2743;
  box-shadow: 1px 1px 2px #213862;
}

#close-btn {
  border: none;
  background-color: #cee1fe;
  color: #3e5ba2;
  font-size: 14px;
}
