@mixin column($col-wd) {
  border: 1px solid #eee;
  background-color: #e6e1ea;
  text-align: center;
  width: $col-wd;
}

.row {
  display: flex;
  width: 100%;
}

.col-6 {
  @include column(50%);
}

.col-4 {
  @include column(33.33%);
}

.col-3 {
  @include column(25%);
}
