.btn-blue {
  width: 100px;
  height: 35px;
  border: none;
  border-radius: 5px;
  background-color: #70b9f7;
  color: #fff;
}

.color-underline {
  border-bottom: 3px solid #70b9f7;
}

.underline {
  border-bottom: 3px solid #edeeef;
}

.badge-border {
  border: 1px solid #cbcbcb;
}
