.box {
  display: inline-block;
  width: 300px;
  height: 300px;
  margin-bottom: 2px;
  color: white;
  background-color: blue;
}

.box:nth-child(2) {
  margin-left: 50px;
}

.box:nth-child(3) {
  margin-left: 20px;
}
