.footer {
  height: 200px;
  background-color: white;
}

.footer-text {
  display: flex;
  justify-content: center;
}

.icons i {
  padding: 20px;
  border: 50%;
  background-color: #4e61c0;
  color: #fff;
}
